/*
---------------------------------------------
DOCUMENT
---------------------------------------------
*/


/*Every element's size will be inclusive of its margins & borders*/

* {
    box-sizing: border-box;
}

/*
---------------------------------------------
CONTAINER
---------------------------------------------
*/

#container {
    width: 80%;
    margin: 0 auto;
}

/*
---------------------------------------------
NAVIGATION
---------------------------------------------

*/

#nav {
    display: table;
    width: 100%;
    line-height: 1.8em;/*Better to use this instead of vertical padding. With padding, vertical borders will not reach the ends!*/
    background-image: linear-gradient(to top, rgba(19,19,49, 0.8), rgba(9, 9, 44, 0.8));
}

#nav a {
    display: table-cell;
    text-decoration: none;
    color: #CFCFE0;
    width: 20%;
    border-right: 1px solid #131332;
    text-align: center;
}

#nav .searchbar {
    display: table-cell;
    text-align: center;
    
    width: 20%;
}


/*
---------------------------------------------
MAIN CONTENT
---------------------------------------------
*/

#content {
    width: 100%;
    display: table;
    background-color: #131332;
    display: table;
}

/*
---------------------------------------------
LEFT PANEL of content area
---------------------------------------------
*/

#left-panel {
    width: 15%;
    background-image: linear-gradient(to left, #131332, #9797c9);
    display: table-cell;
}

/*
---------------------------------------------
RIGHT PANEL of content area
---------------------------------------------
*/

#right-panel {
    width: 85%;
    border-radius: 25px 0 0 0;
    padding: 10px 0 0 15px;
    background-color: #f8f8f8;
    display: table-cell;
}

/*
---------------------------------------------
FOOTER
---------------------------------------------
*/

#footer {
    clear: both;
}