/*
---------------------------------------------
DOCUMENT
---------------------------------------------
*/

* {
    box-sizing: border-box; /*Every element's size will be inclusive of its margins & borders*/
    margin: 0;
    padding: 0;
}


/*
---------------------------------------------
CONTAINER
---------------------------------------------
*/

#container {
    width: 80%;
    margin: 0 auto;
}


/*
---------------------------------------------
HEADER
---------------------------------------------
*/

#header-image {
    width: auto;
    background-image: url("../../resources/img/header/company.jpg");
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
	height: 80px;
}

#services-offered {
    background-color: #09092c;
}

#services-offered * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#services-offered #company-name {
    color: #fff;
    padding-left: 0.5%;
    padding-right: 1%;
    font-size: 1.6em;
}

.hidden {
    visibility: hidden;
}

.play-button {
    background: #d0d0d0;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.play-button::after {
    content:"\25b6";/*25b6 is a html entity to get a right pointing triangle*/
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.play-button:hover {
    background: #fff;
}


/*
---------------------------------------------
NAVIGATION
---------------------------------------------
*/

#nav {
    background-image: linear-gradient(to top, rgba(9, 9, 44, 0.9), rgba(82, 82, 115, 0.9));
    line-height: 2em;/*Better to use this instead of vertical padding. With padding, vertical borders will not reach the ends!*/
    width: 100%;/*100% of container*/
}

#nav ul {
    list-style: none;
}

#nav > ul li a {
    color: #CFCFE0;
} 

#nav ul li a {
    text-decoration: none;
}

#nav > ul {
    display: table;
    width: 100%; /*100% of nav bar or container.*/
}

#nav > ul > li {
    display: table-cell;
    width: 20%;
    border-right: 1px solid #131332;
    text-align: center;/*This will center all the links in the list*/
    position: relative;
}

#nav ul ul {
    position: absolute;/*Critical setting! Without this, the sub menu will be inside same box as main menu li.*/
    display: none;
    width: 100%;
    background-color: #fdfdfd;
    border-left: 1px solid #8b8b8b;
    border-right: 1px solid #8b8b8b;
    border-top: 1px solid #8b8b8b;
}

#nav ul ul li {
    border-bottom: 1px solid #8b8b8b;
    line-height: 1.2em;
}

#nav ul ul li a {
    color: #000;
}

#nav ul li:hover > ul {
    display: block;
}


/*
---------------------------------------------
MAIN CONTENT
---------------------------------------------
*/

#content {
    width: 100%;
    display: table;
    background-color: #131332;
    display: table;
}


/*
---------------------------------------------
LEFT PANEL of content area
---------------------------------------------
*/

#left-panel {
    width: 15%;
    background-image: linear-gradient(to left, #131332, #9797c9);
    display: table-cell;
    padding: 1%;
}

#left-panel p .sidebartitle {
    color: #FBDB74;
    font-weight: 600;
}

#left-panel p .sidebartext {
    color: #fff;
    font-size: 0.9em;
}

#left-panel p #clock {
    color: #fff;
}


/*
---------------------------------------------
RIGHT PANEL of content area
---------------------------------------------
*/

#right-panel span.title {
    font-weight: 600;
    font-size: 1.5em;
}

#right-panel {
    width: 85%;
    border-radius: 25px 0 0 0;
    padding: 10px 0 0 15px;
    background-color: #fff;
    display: table-cell;
    box-shadow: 0.4rem 0.4rem 0.4rem #dedddd inset;
}


/*
---------------------------------------------
FOOTER
---------------------------------------------
*/

#footer {
    background-color: #bfb9ef;
    border-radius: 0 0 5px 5px;
    clear: both;
}

#footer a {
    text-decoration: none;
}
