/*
---------------------------------------------
DOCUMENT
---------------------------------------------
*/


/*Every element's size will be inclusive of its margins & borders*/

* {
    box-sizing: border-box;
}

/*
---------------------------------------------
CONTAINER
---------------------------------------------
*/

#container {
    width: 80%;
    margin: 0 auto;
}


/*
---------------------------------------------
HEADER
---------------------------------------------
*/

#header-image {
    width: auto;
    background-image: url("../../resources/img/header/company.jpg");
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
	height: 80px;
}

#services-offered {
    background-color: #09092c;
}

#services-offered * {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#services-offered #company-name {
    color: #fff;
    visibility: hidden;
}

.play-button {
    background: #d0d0d0;
    border-radius: 50%;
    display: block;
    height: 48px;
    width: 48px;
}

.play-button::after {
    /*Html entity right pointing triangle*/
    content:"\25b6";
    display: block;
    color: #000;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.play-button:hover {
    background: #fff;
}


/*
---------------------------------------------
NAVIGATION
---------------------------------------------
*/

#nav {
    display: table;
    width: 100%;
    line-height: 1.8em;/*Better to use this instead of vertical padding. With padding, vertical borders will not reach the ends!*/
    background-image: linear-gradient(to top, rgba(9, 9, 44, 0.9), rgba(82, 82, 115, 0.9));
}

#nav a {
    display: table-cell;
    text-decoration: none;
    color: #CFCFE0;
    width: 20%;
    border-right: 1px solid #131332;
    text-align: center;
}

#nav .searchbar {
    display: table-cell;
    text-align: center;
    
    width: 20%;
}


/*
---------------------------------------------
MAIN CONTENT
---------------------------------------------
*/

#content {
    width: 100%;
    display: table;
    background-color: #131332;
    display: table;
}

/*
---------------------------------------------
LEFT PANEL of content area
---------------------------------------------
*/

#left-panel {
    width: 15%;
    background-image: linear-gradient(to left, #131332, #9797c9);
    display: table-cell;
    padding: 1%;
}

#left-panel p .sidebartitle {
    color: #FBDB74;
    font-weight: 600;
}

#left-panel p .sidebartext {
    color: #fff;
    font-size: 0.9em;
}

#left-panel p #clock {
    color: #fff;
}

/*
---------------------------------------------
RIGHT PANEL of content area
---------------------------------------------
*/

#right-panel {
    width: 85%;
    border-radius: 25px 0 0 0;
    padding: 10px 0 0 15px;
    background-color: #fff;
    display: table-cell;
}

/*
---------------------------------------------
FOOTER
---------------------------------------------
*/

#footer {
    background-color: #bfb9ef;
    border-radius: 0 0 5px 5px;
    clear: both;
}

#footer a {
    text-decoration: none;
}
